

<div class="app__header grid">
  <div class="grid-cell">

  <a href="/">  <svg class="app__logo" viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use id="logo" x="0" y="0" xlink:href="#logo"></use>
      <use id="logo-circle" x="0" y="0" xlink:href="#logo-circle"></use>
    </svg></a>
  </div>

  <!-- <div class="app__menu__button">
    <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use x="0" y="0" xlink:href="#menu"></use>
    </svg>

  </div> -->

  <div class="app__menu__links">
    <a href="/#work">Work</a>
    <a href="/about">About</a>
    <a href="/#contact">Contact</a>
  </div>

</div>

<!-- <div class="app__menu">
  <div class="app__menu__close-icon">
    <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
      <use x="0" y="0" xlink:href="#close"></use>
    </svg>
    </div>
      <a href="/">About Rob</a>
      <h3>Projects</h3>
      <div class="app__menu__projects">
        <a href="/campaign-analytics">Campaign Analytics</a>
        <a href="/ad-formats">Mobile Ad Formats</a>
        <a href="/songs">Songs for the Fallen</a>
        <a href="/store-locator">Store Locator</a>
        <a href="/characters">Animated Characters</a>
        <a href="/wattyl">Wattyl: 100 Years Microsite</a>
        <a href="/e-newsletters">CGU E-Newsletters</a>
        <a href="/michaelthwaites">Michael Thwaites: Poet</a>
      </div>
      <div class="app__menu__contact">
        <h3>Contact</h3>
        <a href="mailto:rob@robthwaites.com">rob@robthwaites.com</a>
        <a href="tel:+61403899183">0403899183</a>
      </div>
</div> -->
