

  <!-- <section class="display display--slider display--mobile">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 top-content">

        <h2 style="width:100%">Features</h2>

      </div>

      <div class="grid-cell grid4 bottom-content">

        <div class="display__captions">
          <div class="caption caption1">
            <p>Caption goes here</p>
          </div>
          <div class="caption caption2">
            <p>Caption goes here</p>
          </div>
          <div class="caption caption3">
            <p>Caption goes here</p>
          </div>
          </div>

      </div>

      <div class="grid-cell grid8 grid-cell--display">

        <div class="display__screen__wrapper">
          <div class="display__screen">

            <div class="image-slide">
              <img src="/images/wattyl/wattyl-mobile-1.png" alt="">
            </div>
            <div class="image-slide">
              <img src="/images/wattyl/wattyl-mobile-2.png" alt="">
            </div>

            <div class="image-slide">
              <img src="/images/wattyl/wattyl-mobile-3.png" alt="">
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>
 -->
