  <% if (typeof pageData !== 'undefined') { %>
    <% include footer-nav.html.ejs %>
  <% } %>

  <footer id="#contact" class="grid">
    <div class="grid-cell grid12">
      <div>
        <h2>Let's create something together</h2>
        <p><a href="mailto:rob@robthwaites.com">rob@robthwaites.com</a></p>
        <p><a tel="+61403899183">0403899183</a></p>
      </div>
    </div>
  </footer>
  </div> <!-- end app__body -->
</body>
</html>
