<section class="slider-wrapper dark" id="">
  <h2>Title</h2>
  <div class="slider"></div>
  <div class="slider-nav">

  </div>
  <ul class="captions">
    <li>
      <h3>Heading</h3>
      <p>Caption</p>
    </li>
  </ul>
  <div class="commentary">
    <p>Para1</p>
    <p>Para2</p>
  </div>

</section>
