<% include partials/header.html.ejs %>

  <section class="index-title">

    <div class="grid">

      <div class="grid-cell grid11 offset1 index__title">
        <h1>About Rob</h1>
      </div>

      <div class="grid-cell grid7 offset3 index__title">

        <p>With a background in graphic design and animation, I decided several years ago that I wanted not just to communicate beautifully, but have the skills to create things that were functional and useful. I am now <em>a designer who can code</em>,
          and I love it.</p>
        <p>I am a deeply empathetic person, and passionate about designing delightful tech that can make a real difference to people’s lives.</p>
        <p>These days I use a Lean UX process to work with agile development teams, creating websites and web applications.</p>
        <p>I help my teams to define the problems their users are facing, then visualise and prototype application solutions.</p>
        <p>I can also deliver production-ready code, using my expertise in responsive design, HTML and CSS, and even a little JS.</p>
      </div>

      <div class="grid-cell grid7 offset3" style="overflow:visible">

        <div class="royalSlider rsDefaultInv about-slider ">

          <div class="rsContent">
            <img class="rsImage" src="/images/about/Design.png" alt="">
            <div class="rsTmb">Design.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Iterate.png" alt="">
            <div class="rsTmb">Iterate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Prototype.png" alt="">
            <div class="rsTmb">Prototype.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Evaluate.png" alt="">
            <div class="rsTmb">Evaluate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Beautify.png" alt="">
            <div class="rsTmb">Beautify.</div>
          </div>


        </div>

      </div>

    </div>

  </section>

  <% include partials/footer.html.ejs %>
