<% include partials/header.html.ejs %>

  <section class="index-title">

    <div class="grid">

      <div class="grid-cell grid11 offset1 index__title">
        <h1>About Rob</h1>
      </div>

      <div class="grid-cell grid7 offset3 " style="padding-top: 2rem;">

        <p>My chief objective as a designer is to understand my client's business objectives, then find opportunities for them to meet these by helping them discover and solve real problems for their target users.</p>
        <p>I create opportunities for iterative, collaborative design work to happen between these stakeholders. I find ongoing sketching, visualisation and prototyping of possible solutions is a key ingredient to keeping the process grounded and tangible, for which I leverage my suite of skills in visual, interaction and motion design.</p>
        <p>I am a deeply empathetic person, passionate about designing delightful tech that makes a real difference in people's lives.</p>

        <p><a href="/images/about/Robert_Thwaites_CV_2018_Experience_Designer.docx" download>Download my resume (.docx)</a></p>
      </div>

      <div class="grid-cell grid7 offset3" style="overflow:visible">

        <div class="royalSlider rsDefaultInv about-slider ">

          <div class="rsContent">
            <img class="rsImage" src="/images/about/Design.png" alt="">
            <div class="rsTmb">Design.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Iterate.png" alt="">
            <div class="rsTmb">Iterate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Prototype.png" alt="">
            <div class="rsTmb">Prototype.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Evaluate.png" alt="">
            <div class="rsTmb">Evaluate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Beautify.png" alt="">
            <div class="rsTmb">Beautify.</div>
          </div>


        </div>

      </div>

    </div>

  </section>

  <% include partials/footer.html.ejs %>
