<% include partials/header.html.ejs %>

  <section class="index-title">

    <div class="grid">

      <div class="grid-cell grid11 offset1 index__title">
        <h1>About Rob</h1>
      </div>

      <div class="grid-cell grid7 offset3 " style="padding-top: 2rem;">

        <p>I design digital and web products using Lean UX processes within agile development teams, creating websites and web applications.</p>
          <p>I am a deeply empathetic person, and passionate about designing delightful tech that makes a difference to people's lives.</p>
        <p>I help my clients define the problems their users are facing, then  visualise and prototype application solutions, using my suite of skills in UI design, animation and code. </p>
        <p><a href="/images/about/Robert_Thwaites_CV_2018_Experience_Designer.docx" download>Download my resume (Word).</a></p>
      </div>

      <div class="grid-cell grid7 offset3" style="overflow:visible">

        <div class="royalSlider rsDefaultInv about-slider ">

          <div class="rsContent">
            <img class="rsImage" src="/images/about/Design.png" alt="">
            <div class="rsTmb">Design.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Iterate.png" alt="">
            <div class="rsTmb">Iterate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Prototype.png" alt="">
            <div class="rsTmb">Prototype.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Evaluate.png" alt="">
            <div class="rsTmb">Evaluate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Beautify.png" alt="">
            <div class="rsTmb">Beautify.</div>
          </div>


        </div>

      </div>

    </div>

  </section>

  <% include partials/footer.html.ejs %>
