<% include partials/header.html.ejs %>

<section class="index-title">
  <div class="grid">
    <div class="grid-cell grid11 offset1 index__title">
      <h1>About Rob</h1>
    </div>

    <div class="grid-cell grid7 offset3 " style="padding-top: 2rem;">
      <p>
        I help clients clearly articulate their product vision, then use a suite
        of research, co-design and digital skills to guide them through the
        stages of design to realise this vision.
      </p>
      <p>
        My role as product designer is to make the product experience as
        tangible as possible, as early as possible. This can be through a
        sketch, a journey map, or a hi-fidelity prototype... whatever is
        required to help steward a unified vision of the product for
        stakeholders and the team.
      </p>
      <p>
        I am a deeply empathetic person, passionate about designing delightful
        tech that makes a real difference in people's lives.
      </p>

      <p>
        <a
          href="/images/about/Robert_Thwaites-Product_Designer-CV.pdf"
          target="_blank"
          >View my full CV</a
        >
      </p>
    </div>

    <div class="grid-cell grid7 offset3" style="overflow:visible">
      <div class="royalSlider rsDefaultInv about-slider ">
        <div class="rsContent">
          <img class="rsImage" src="/images/about/Discover.png" alt="" />
          <div class="rsTmb">Discover.</div>
        </div>
        <div class="rsContent">
          <img class="rsImage" src="/images/about/Iterate.png" alt="" />
          <div class="rsTmb">Iterate.</div>
        </div>
        <div class="rsContent">
          <img class="rsImage" src="/images/about/Prototype.png" alt="" />
          <div class="rsTmb">Prototype.</div>
        </div>
        <div class="rsContent">
          <img class="rsImage" src="/images/about/Evaluate.png" alt="" />
          <div class="rsTmb">Evaluate.</div>
        </div>
        <div class="rsContent">
          <img class="rsImage" src="/images/about/Beautify.png" alt="" />
          <div class="rsTmb">Beautify.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include partials/footer.html.ejs %>
