<% include partials/header.html.ejs %>

  <section class="index-title">

    <div class="grid">

      <div class="grid-cell grid11 offset1 index__title">
        <h1>About Rob</h1>
      </div>

      <div class="grid-cell grid7 offset3 " style="padding-top: 2rem;">
        <p>I am a human-centred designer, specialising in user research, co-design with clients and users, and rapid prototyping.</p>
        <p>I help clients clearly articulate goals for their product, then guide them through the stages of design to realise these goals.</p>
        <p>I love creating artefacts and experiences that manifest the team's current thinking around a product, whatever stage we are at in the design process. I use my broad creative skillset to create sketches, personas, journey maps, or interactive data-driven UIs.</p>
        <p>I am a deeply empathetic person, passionate about designing delightful tech that makes a real difference in people's lives.</p>

        <p><a href="https://www.icloud.com/pages/0Alyxck0RqRxE-PvoD0xIddVg#Robert_Thwaites_-_Product_Designer_-_CV_2020" target="_blank">Download my CV</a></p>
      </div>

      <div class="grid-cell grid7 offset3" style="overflow:visible">

        <div class="royalSlider rsDefaultInv about-slider ">

          <div class="rsContent">
            <img class="rsImage" src="/images/about/Discover.png" alt="">
            <div class="rsTmb">Discover.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Iterate.png" alt="">
            <div class="rsTmb">Iterate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Prototype.png" alt="">
            <div class="rsTmb">Prototype.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Evaluate.png" alt="">
            <div class="rsTmb">Evaluate.</div>
          </div>
          <div class="rsContent">
            <img class="rsImage" src="/images/about/Beautify.png" alt="">
            <div class="rsTmb">Beautify.</div>
          </div>


        </div>

      </div>

    </div>

  </section>

  <% include partials/footer.html.ejs %>
