<% include partials/header.html.ejs %>

    <section class="index-title">

      <div class="grid">

        <div class="grid-cell grid11 offset1 index__title">
          <h1>Rob Thwaites</h1>
        </div>
        <div class="grid-cell grid5 offset1 index__subtitle">
          <h4>Digital Product Designer</h4>
        </div>

        <div class="grid-cell grid5 offset4 index__welcome">
          <p>I am a multi-disciplinary designer, working across Visual Design, User Experience Design and Front-End Development.</p>
          <p>I create sites and apps with strong empathy for your users, a love of clean typography and striking imagery, and broad technical expertise for delivering digital projects.</p>
          <p><a href="/about">Read more about my process and skills.</a></p>
        </div>

      </div>

    </section>

    <section class="works">
      <div class="grid">

      <% allData.forEach(function(project){ %>

        <div class="grid-cell grid6 work">
          <a href="/<%= project.id %>">
            <div class="work__thumb" style="background-image: url(/images/thumb-<%= project.id %>.jpg)"></div>

            <div class="work__details">
              <p class="work__client"><%- project.client %></p>
              <h3 class="work__name"><%- project.title %></h3>
            </div>
          </a>
        </div>

      <% }) %>

      <div class="grid-cell grid6 work" id="mother-thumb">
        <a>
          <div class="work__thumb" style="background-image: url(/images/thumb-motherboard.jpg)"></div>

          <div class="work__details">
            <p class="work__client">Motherboard Productions</p>
            <h3 class="work__name">Motherboard Website</h3>
          </div>
        </a>
      </div>
      </div>
    </section>

<% include partials/footer.html.ejs %>
