<% include partials/header.html.ejs %>

    <section class="index-title">

      <div class="grid">

        <div class="grid-cell grid11 offset1 index__title">
          <h1>Rob Thwaites</h1>
        </div>
        <div class="grid-cell grid3 offset1 index__subtitle">
          <h4>Digital Product Designer</h4>
        </div>

        <div class="grid-cell grid5 offset4 index__welcome">
          <p>I am a multi-disciplinary designer, working across Visual Design, User Experience Design and Front-End Development.</p>
          <p>I create sites and apps with strong empathy for your users, a love of clean typography and striking imagery, and broad technical expertise for delivering digital projects.</p>
          <p><a href="/about">Read more about my process and skills.</a></p>
        </div>

      </div>

    </section>

<% include partials/footer.html.ejs %>
