<% include partials/header.html.ejs %>

    <section class="index-title">

      <div class="grid">

        <div class="grid-cell grid11 offset1 index__title">
          <h1>I'm Rob Thwaites. I design user-centred digital products with graphics and code.</h1>

          <p><a href="/about">Find out about my approach and skills.</a></p>
        </div>

      </div>

    </section>

    <section class="works">
      <a name="work" style="height:0; width:0; opacity:0"></a>
      <div class="grid">

      <% allData.forEach(function(project){ %>

        <div class="grid-cell grid6 work">
          <a href="/<%= project.id %>">
            <img src="/images/thumb-<%= project.id %>.jpg" alt="">

            <div class="work__details">
              <p class="work__client"><%- project.client %></p>
              <h3 class="work__name"><%- project.title %></h3>
            </div>
          </a>
        </div>

      <% }) %>

      <div class="grid-cell grid6 work" id="mother-thumb">
        <a>
          <img src="/images/thumb-motherboard.jpg" alt="">

          <div class="work__details">
            <p class="work__client">Motherboard Productions</p>
            <h3 class="work__name">Motherboard Website</h3>
          </div>
        </a>
      </div>
      </div>
    </section>

<% include partials/footer.html.ejs %>
