<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
    <div class="top-content" style="color: <%= pageData.current.color %>">
        <p>Playground XYZ wants to change the way advertisers interact with their customers on mobile.</p>
        <p>To this end, I and the team at Playground created a series of custom ad formats with simple, drag-and-drop templates for clients to use to create campaigns.</p>
        <p>I took responsibility for delivering the Hang Time and Vertical Video products, based on a concept from our product team.</p>
      </div>

    <div class="bottom-content credits">
      <h3>Client</h3>
      <p><%= pageData.current.client %></p>
      <h3>My Role</h3>
      <p>UX Design, Prototyping, Graphic Design</p>

      <h3>Contributors</h3>
      <p>Steve Nash, UX Design</p>
      <p>Julian Fell, Developer</p>
      <p>Miles Disch, Developer</p>
    </div>
  </section>

  <section class="section--text-left  section--slider-mobile section--tall-desk">
      <div class="top-content">
        <h2>The Hang Time</h2>
      </div>
      <div class="slide slider--mobile">
        <!-- image and content -->
          <div class="video-slide">
            <video autoplay loop muted playsinline style="border: 1px solid black;">
              <source src="/images/ads-ht-demo.mp4">
              <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
              <!-- <img src="image.gif"> -->
            </video>
        </div>
      </div>
      <div class="bottom-content" style="flex-direction: column">
      <p>The Hang Time is a full-screen vertical format for mobile that momentarily delays the user in an inline ad experience as they scroll through an article.</p>
        <p>I suggested that the Hang Time 'progress' could be a timeline for 'scrubbing' animations. I developed a simple Javascript plugin to test this concept.</p>
        <p>I ensured animations would be easily templatable and pixel-perfect across all device sizes. The plugin was integrated and became a core feature of the format.</p>
<!--
        <p>I developed a simple Javascript to run these animations, in a way that was easy to template so we could  produce pixel-perfect animation that would work across all device sizes.</p> -->

      </div>

  </section>

  <section class="section--text-right section--slider-mobile phone-royalSlider section--dark  section--tall-desk">
    <div class="top-content">
      <h2>Brand Executions</h2>
      <p>The scrubbing animations became the essential feature of the format.</p>
      <p>I had a lot of fun rolling this out into ad executions for many brands and campaigns.</p>
    </div>
    <div  class="slide slider--mobile"  id="slider-hangtime">

      <!-- <div class="phone" id="slider-hangtime"> -->

        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/ads-honda-edit.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/ads-google-edit.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/ads-pirates.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

      <!-- </div> -->

    </div>

    <div class="bottom-content">

      <div class="slider__captions">
        <div class="caption"><h4>Honda Annual Clearance</h4></div>
        <div class="caption"><h4>Google Home</h4></div>
        <div class="caption"><h4>Pirates of the Carribean</h4></div>
      </div>

    </div>

  </section>

  <section class="section--text-left">

      <div class="top-content">
        <h2>Vertical Video</h2>
      </div>
      <div class="slide">
        <img src="/images/ads/process-vertical-video.png" alt=""  style="border:0;">
      </div>
      <div class="bottom-content">
        <p>Playground needed a product to house vertical video content, and the Hang Time was the perfect vehicle.</p>

        <p>The challenge was to have a responsive product where the full video content would be visible wherever the ad was displayed - different devices, sites, browsers.</p>


      </div>

  </section>

  <section class="section--text-right section--slider-mobile phone-royalSlider section--dark  section--tall-desk">

    <div class="top-content">
      <h2>Video Ads</h2>
      <p>The Vertical Video ended up with two versions, "fit" or "fill", where advertisers could decide whether to use a safe 'letterbox'-style video presentation, or take advantage of an impactful full-screen experience.</p>
    </div>

      <div class="slide slider--mobile" id="slider-vertical-vid">
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/ads-adf.mp4">
          </video>
        </div>
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/ads-wonderwoman.mp4">
          </video>
        </div>

      </div>

    <div class="bottom-content">
      <div class="slider__captions">
        <div class="caption"><h4>Australian Defence Force</h4></div>
        <div class="caption"><h4>Wonder Woman (Roadshow)</h4></div>
      </div>
    </div>

  </section>

  <section class="process section--split">

    <div class="top-content">
      <img src="/images/process-ads.jpg" alt="">
    </div>
    <div class="bottom-content">
      <h2>Process</h2>
      <p><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#codesign"></use>
        </svg>For each ad format, I started by developing a basic prototype to demonstrate its behaviour using HTML/CSS/JS.</p>

      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#research"></use>
        </svg>I then consulted with the product team to get sign off on the concept and behaviour.</p>

        <p>
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" xlink:href="#plan"></use>
          </svg>I created a detailed spec for the exact behaviour of the Hang Time and Vertical Video for handover to the dev team.</p>
        <p>
    </div>
  </section>


  <% include ../partials/footer.html.ejs %>
