<% include ../partials/header.html.ejs %>

<section class="section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>I created several animated characters to add a delightful touch to Playground XYZ’s branding and products.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>Illustration</p>
      <p>Animation (GSAP and Animate CC)</p>
      <p>Editing and conversion</p>
    </div>
  </div>

</section>

<section class="section--vids display--desktop section--image-blocks wizard">

  <div class="image-block image-block--left" style="background: white;">

    <div class="video-slide main-slide">
      <video autoplay loop muted playsinline>
        <source src="/images/animated-characters/character-wizard.mp4">
      </video>
    </div>

  </div>
  <div class="image-block image-block--right"  style="background: #e91e63">
  <div class="grid-cell grid12 grid-cell--display">

    <div class="display__screen__wrapper">
      <div class="display__screen">

        <div class="video-slide">
          <video autoplay loop muted playsinline>
                <source src="/images//animated-characters/character-wizard-context.mp4">
              </video>
        </div>

      </div>
    </div>
  </div>
</div>

</section>

<section class="section--vids display--mobile section--image-blocks player">

  <div class="image-block image-block--left"  style="background: #F0A05A;">
    <div class="grid-cell grid12 grid-cell--display">

    <div class="display__screen__wrapper">
      <div class="display__screen">

        <div class="video-slide">
          <video autoplay loop muted playsinline >
                <source src="/images//animated-characters/character-player-context.mp4">
              </video>
        </div>

      </div>

    </div>


</div>
  </div>
  <div class="image-block image-block--right">

    <div class="video-slide main-slide">
      <video autoplay loop muted playsinline>
        <source src="/images/animated-characters/character-player.mp4">
      </video>
    </div>

  </div>

</section>

<section class="section--vids display--mobile section--image-blocks">

  <div class="image-block image-block--left">
    <div class="video-slide main-slide">
      <video autoplay loop muted playsinline>
        <source src="/images/animated-characters/character-runner.mp4">
      </video>
    </div>
  </div>
  <div class="image-block image-block--right" style="background: #B01414">
  <div class="grid-cell grid12 grid-cell--display">

    <div class="display__screen__wrapper">
      <div class="display__screen">

        <div class="video-slide">
          <video autoplay loop muted playsinline>
                <source src="/images//animated-characters/character-runner-context.mp4">
              </video>
        </div>

      </div>
    </div>
  </div>
</div>

</section>

<section class="section--vids section--image-full">

  <div class="image-full" style="background-image: url(/images/animated-characters/character-sketches.jpg)">
   </div>
</section>

  <% include ../partials/footer.html.ejs %>
