<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>Description.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>Role</p>
      <p>Role</p>
    </div>
  </div>

</section>

<section class="section--grey section--image-blocks">

  <div class="image-block image-block--left">

  </div>
  <div class="image-block image-block--right">

  </div>

</section>

<section class="section--grey section--image-blocks">

  <div class="image-block image-block--left">

  </div>
  <div class="image-block image-block--right">

  </div>

</section>

<section class="section--grey section--image-blocks">

  <div class="image-block image-block--left">

  </div>
  <div class="image-block image-block--right">

  </div>

</section>

<section class="section--grey section--image-full">

  <div class="image-full">
    <div class="grid">
      <div class="grid-cell grid12">
        <p>Caption goes here.</p>
      </div>
    </div>
   </div>
</section>

  <% include ../partials/footer.html.ejs %>
