<% include ../partials/header.html.ejs %>

  <section class="section--grey section--intro">
    <div class="grid">
      <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
        <h2>Data visualisation screens to give clients rapid insight into the performance of their mobile advertising campaigns.</h2>
      </div>
      <div class="grid-cell grid6 credits">
        <h3>My Role</h3>
        <p>UX Design</p>
        <p>Graphic Design</p>
        <p>HTML / CSS / JS</p>
      </div>
    </div>

  </section>


  <section class="display display--slider display--desktop">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid3 top-content">

        <h4>Features</h4>

      </div>

      <div class="grid-cell grid3 bottom-content">

        <div class="display__captions">
          <div class="caption caption1">
            <p>Campaigns Listing: a overview of all your active campaigns, with alerts against placements that are underperforming.</p>
          </div>
          <div class="caption caption2">
            <p>Reporting Dashboard: data visualisations of key performance metrics give users insight into how the campaign is delivering, or generating audience engagement.</p>
          </div>
          <div class="caption caption3">
            <p>Notes and chart annotations assist team members to communicate effectively on steps taken to optimise performance.</p>
          </div>
          <div class="caption caption4">
            <p>Users gain insight into their campaign success by using simple controls to segment their data and make visual comparisons.</p>
          </div>
        </div>

      </div>

      <div class="grid-cell grid9 grid-cell--display">

        <div class="display__screen__wrapper">
          <div class="display__screen">

            <div class="video-slide video1">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/campaigns_0.mp4">
                  </video>
            </div>

            <div class="video-slide video2">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/campaigns_1.mp4">
                  </video>
            </div>
            <div class="video-slide video3">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/campaigns_2.mp4">
                  </video>
            </div>

            <div class="video-slide video4">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/campaigns_3.mp4">
                  </video>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section class="section--details first">
    <div class="grid">
      <div class="grid-cell grid6 ">
      <div class="vignette">
        <img src="/images/campaign-analytics/detail6.jpg" alt=""></div>
      </div>
      <div class="grid-cell grid6 ">
        <div class="vignette">
        <img src="/images/campaign-analytics/detail5.jpg" alt="">
      </div>
      </div>
    </div>

  </section>

  <section class="section--details last">
    <div class="grid">
      <div class="grid-cell grid6 ">
        <div class="vignette">
        <img src="/images/campaign-analytics/detail3.jpg" alt="">
      </div>
      </div>
      <div class="grid-cell grid6  ">
        <!-- <div class="vignette"> -->
        <img src="/images/campaign-analytics/detail4.jpg" alt="">
      <!-- </div> -->
      </div>
    </div>

  </section>

  <section  id="campaign-ux">

    <div class="caption-block">
      <p>This dashboard design was the culmination of several UX research projects I completed with our users.
        <a target="_blank" href="/images/campaign-analytics/Rob Thwaites - Campaign Analytics UX.pdf">
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" xlink:href="#pdf"></use>
          </svg>
        View UX deliverables
      </a></p>
    </div>

  </section>



  <% include ../partials/footer.html.ejs %>
