<% include ../partials/header.html.ejs %>

  <section class="section--grey section--intro">
    <div class="grid">
      <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
        <img src="https://www.fillmurray.com/600/500
        " alt="">
        <h2>Data visualisation screens to give clients rapid insight into the performance of their mobile advertising campaigns.</h2>
      </div>
      <div class="grid-cell grid6 credits">
        <img src="https://www.fillmurray.com/600/500
        " alt="">
        <h3>My Role</h3>
        <p>UX Research</p>
        <p>Design</p>
        <p>Prototyping</p>
      </div>
    </div>

  </section>

  <section class="section--grey section--image-blocks">
    <div class="image-block image-block--left">
        <div class="grid">
          <div class="grid-cell grid12">
            <p>Hello</p>
          </div>
        </div>
    </div>
    <div class="image-block image-block--right">

    </div>

  </section>

  <section class="section--grey section--image-full">

    <div class="image-full">
      <div class="grid">
        <div class="grid-cell grid12">
          <p>Hello</p>
        </div>
      </div>
     </div>
  </section>


  <section class="section--slider section--slider-desktop">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 top-content">

        <h2 style="width:100%">Key Features</h2>

      </div>

      <div class="grid-cell grid4 bottom-content">

        <div class="slider__captions">
          <div class="caption">
            <h4>Campaigns, Creatives, Placements</h4>
            <p> The overview of your campaigns can be expanded to display data about the attached ad creatives, such as whether ad placement is delivering or generating engagement from its target audience.</p>
          </div>
          <div class="caption">
            <h4>Visual insights</h4>
            <p>Custom charts quickly surface the most relevant data for campaign managers, including alerts when key metrics for a campaign are not hitting their benchmarks.</p>
          </div>
          <div class="caption">
            <h4>Annotations and Alerts</h4>
            <p>Customers are quickly alerted when the data indicates a placement is not performing to benchmarks. Annotations keep track of where optimisations were made during the campaign to improve campaign performance.</p>
          </div>
          <div class="caption">
            <h4>Basic Analytics</h4>
            <p>Campaign data can be split and grouped in various ways - by placement, audience and site. Animated transitions and color coding assist clients to make comparisons and gain insights</p>
          </div>
        </div>

      </div>

      <div class="grid-cell grid8 grid-cell--slider grid-cell--slider-desktop">

        <div class="slider-wrapper slider-wrapper--desktop">
          <div class="slider slider--desktop" id="slider-campaigns">

            <div class="video-slide">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/v2-list-breakdown.mp4">
                  </video>
            </div>

            <div class="video-slide">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/2-charts.mp4">
                  </video>
            </div>
            <div class="video-slide">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/3-notes.mp4">
                  </video>
            </div>

            <div class="video-slide">
              <video autoplay loop muted playsinline>
                    <source src="/images/campaign-analytics/4-split.mp4">
                  </video>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section class="section--slider section--slider-mobile">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 top-content">

        <h2 style="width:100%">Key Features</h2>

      </div>

      <div class="grid-cell grid4 bottom-content">

        <div class="slider__captions">
            <div class="caption current"><p>The timeline navigation switched to "accordion" style navigation on mobile devices.</p></div>
            <div class="caption"><p>Users entered the competition by submitting their own DIY painting tips.</p></div>
            <div class="caption"><p>I implemented careful form validation to ensure the lead-capture objectives of the campaign. Customer details were captured for use in Wattyl's Marketo system.</p></div>
          </div>

      </div>

      <div class="grid-cell grid8 grid-cell--slider grid-cell--slider-mobile">

        <div class="slider-wrapper slider-wrapper--mobile">
          <div class="slider slider--mobile" id="slider-wattyl2">

            <div class="image-slide">
              <img src="/images/wattyl/wattyl-mobile-1.png" alt="">
            </div>
            <!-- image and content -->
            <div class="image-slide">
              <img src="/images/wattyl/wattyl-mobile-2.png" alt="">
            </div>

            <div class="image-slide">
              <img src="/images/wattyl/wattyl-mobile-3.png" alt="">
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

  <section class="section--slider section--slider-desktop" id="section--songs-vid">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 top-content">

        <h2 style="width:100%">Key Features</h2>

      </div>

      <div class="grid-cell grid4 bottom-content">

        <div class="slider__captions">

        </div>

      </div>

      <div class="grid-cell grid8 grid-cell--slider grid-cell--slider-desktop">

        <div class="slider-wrapper slider-wrapper--desktop">
          <div class="slider slider--desktop">

            <div class="video-slide">
              <video autoplay loop muted playsinline  id="songs-video">
                    <source src="/images/songs/songs-demo.mp4">
                      <track kind="chapters" label="Locations" src="/images/songs/songs-chapters.vtt" srclang="en" default type="text/vtt" >
                  </video>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>



  <% include ../partials/footer.html.ejs %>
