<% include ../partials/header.html.ejs %>

<section class="section--intro">

  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>Description.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>Role</p>
      <p>Role</p>
    </div>
  </div>

</section>

<section class="section--scroll" id="email-dynamic">

  <div class="image-block image-block--left">
    <div class="grid">
      <div class="grid-cell grid12">
        <h4>Heading</h4>
        <p>Caption goes here. hfuks adkghksal gfhksl fghsakl ghkl ghksl ghksl ghkz gvkz ghk gvhkl gaklv</p>
        <p>Caption goes here. hfuks adkghksal gfhksl fghsakl ghkl ghksl ghksl ghkz gvkz ghk gvhkl gaklv</p>
        <p>Caption goes here. hfuks adkghksal gfhksl fghsakl ghkl ghksl ghksl ghkz gvkz ghk gvhkl gaklv</p>
      </div>
    </div>
  </div>
  <div class="image-block image-block--right">
    <img src="/images/e-newsletters/email-personalised.jpg" alt="">
    <img src="/images/e-newsletters/email-red1.jpg" class="anim" alt="">
    <img src="/images/e-newsletters/email-red2.jpg" class="anim" alt="">
    <img src="/images/e-newsletters/email-red3.jpg" class="anim" alt="">
    <img src="/images/e-newsletters/email-red4.jpg" class="anim" alt="">

  </div>

</section>

<section class="section--scroll" id="email-main">

  <div class="image-block image-block--left">
    <div class="grid">
      <div class="grid-cell grid12">
        <h4>Heading</h4>
        <p>Caption goes here. Sfgzshj gshkvl gszhkv gshkl gzhkl gzhkl ghjz gvlzgvhklz ghkl gvhksl gyi gylvayga</p>
        <p>Caption goes here. Sfgzshj gshkvl gszhkv gshkl gzhkl gzhkl ghjz gvlzgvhklz ghkl gvhksl gyi gylvayga</p>
        <p>Caption goes here. Sfgzshj gshkvl gszhkv gshkl gzhkl gzhkl ghjz gvlzgvhklz ghkl gvhksl gyi gylvayga</p>
      </div>
    </div>
  </div>
  <div class="image-block image-block--right">
    <img src="/images/e-newsletters/email-newsletter.jpg" class="sizer" alt="">
    <div class="mod-blocks">
      <img src="/images/e-newsletters/mod-block-2.png" alt="">
      <img src="/images/e-newsletters/mod-block-1.png" alt="">
      <img src="/images/e-newsletters/mod-block-3.png" alt="">
      <img src="/images/e-newsletters/mod-block-4.png" alt="">
    </div>
  </div>

</section>


<section class="section--image-full display--mobile" id="email-mobile">

  <div class="image-full"   style="background-image: url(/images/e-newsletters/e-newsletters-mobile.jpg);">
    <div class="grid-cell grid8 grid-cell--display">

      <div class="display__screen__wrapper">
        <div class="display__screen">

          <div class="video-slide">
            <video autoplay loop muted playsinline >
              <source src="/images/wattyl/wattyl-mobile.mp4">
                <track kind="chapters" label="Locations" src="/images/wattyl/wattyl-mobile-chapters.vtt" srclang="en" default type="text/vtt" >
            </video>
          </div>

        </div>

      </div>

    </div>
   </div>

</section>

<section class="section--grey section--image-full">

  <div class="image-full">
    <div class="grid">
      <div class="grid-cell grid12">
        <p>Caption goes here.</p>
      </div>
    </div>
   </div>

<% include ../partials/footer.html.ejs %>
