<% include ../partials/header.html.ejs %>

<section class="section--intro">

  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>CGU needed a fresh approach to their email communications, allowing for more personalised content for both customers and brokers.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>UX Consultation</p>
      <p>Graphic Design</p>
      <p>HTML Email Development</p>
    </div>
  </div>

</section>

<section class="section--scroll" id="email-dynamic">

  <div class="image-block image-block--left">
    <div class="grid">
      <div class="grid-cell grid12">
        <div class="sticky-element">
        <h4>Personalised Content</h4>
        <p>Emails could be populated with dynamically generated content from the customer’s profile, or based on their interests using smart audience segmenting in Salesforce Marketing Cloud.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image-block image-block--right">
    <img src="/images/e-newsletters/email-personalised.jpg" alt="">
    <img src="/images/e-newsletters/email-red1.jpg" class="anim" alt="">
    <img src="/images/e-newsletters/email-red2.jpg" class="anim" alt="">
    <img src="/images/e-newsletters/email-red3.jpg" class="anim" alt="">
    <img src="/images/e-newsletters/email-red4.jpg" class="anim" alt="">

  </div>

</section>

<section class="section--scroll" id="email-main">

  <div class="image-block image-block--left">
    <div class="grid">
      <div class="grid-cell grid12">
      <div class="sticky-element">
        <h4>Modular Blocks</h4>
        <p>I took a component-based approach to the design, so that marketers could be drag-and-drop reusable email blocks depening on their needs.</p>
      </div>
      </div>
    </div>
  </div>
  <div class="image-block image-block--right">
    <img src="/images/e-newsletters/email-newsletter.jpg" class="sizer" alt="">
    <div class="mod-blocks">
      <img src="/images/e-newsletters/mod-block-2.jpg" alt="">
      <img src="/images/e-newsletters/mod-block-1.png" alt="">
      <img src="/images/e-newsletters/mod-block-3.png" alt="">
      <img src="/images/e-newsletters/mod-block-4.png" alt="">
    </div>
  </div>

</section>


<section class="display--mobile" id="email-mobile">

    <div class="caption-block">
      <h4>Responsive design</h4>
      <p>Each component was designed to display perfectly on all email clients.</p>
    </div>


    <div class="grid-cell grid12 grid-cell--display">

      <div class="display__screen__wrapper">
        <div class="display__screen">

          <img src="/images/e-newsletters/edm-mobile.jpg" alt="" id="mobile-edm">

        </div>

      </div>

    </div>

</section>

<section id="email-desktop">


 </section>

<% include ../partials/footer.html.ejs %>
