<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>A site to showcase the work of my grandfather, a distinguished Australian poet, with words, imagery and audio.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>UX Design</p>
      <p>Graphic Design</p>
      <p>Front-End Development</p>
      <p>Wordpress CMS</p>
    </div>
  </div>

</section>

<section class="display display--slider display--desktop">

  <div class="grid no-gutter grid--column-grid">

    <div class="grid-cell grid4 top-content">

      <h4 style="width:100%">Features</h4>

    </div>

    <div class="grid-cell grid4 bottom-content">

      <div class="display__captions">
        <div class="caption caption1">
          <p>The homepage shows a grid of images, one for each poem. Some poems have audio recordings, indicated by an icon.</p>
        </div>
        <div class="caption caption2">
          <p>Elegant typesetting of each poem is accompanied by ‘extras’, such as notes comments and audio.</p>
        </div>
      </div>

    </div>

    <div class="grid-cell grid8 grid-cell--display">

      <div class="display__screen__wrapper">
        <div class="display__screen">

          <div class="video-slide video1">
            <video autoplay loop muted playsinline>
                  <source src="/images/michael-thwaites/thwaites-nav.mp4">
                </video>
          </div>

          <div class="video-slide video2">
            <video autoplay loop muted playsinline>
                  <source src="/images/michael-thwaites/thwaites-poem.mp4">
                </video>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>


<section class="section--grey section--image-full" id="michael-thwaites-ipad">

<div class="caption-block">
  <p>Other pages include information about the author, a podcast of poetry readings, press clippings and publications.</p>
</div>

</section>


<section class="section--intro section--details">
  <div class="grid">
    <div class="grid-cell grid6 intro-text">
      <img src="/images/michael-thwaites/michael-thwaites-detail2.jpg" alt="">
      <p>Facebook, Twitter and Pinterest APIs were integrated for social sharing of content.</p>
    </div>
    <div class="grid-cell grid6 credits">
      <img src="/images/michael-thwaites/michael-thwaites-detail1.jpg" alt="">
      <p>Custom Wordpress CMS management of text, imagery and audio.</p>
    </div>
  </div>

</section>

<section id="michael-thwaites-imagery">

  <div class="caption-block">
    <p>Family albums were raided to create imagery to accompany each poem.</p>
  </div>

</section>


  <!-- <script src="/js/birds_loop.js"></script> -->


  <% include ../partials/footer.html.ejs %>
