<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
    <div class="top-content" style="color: <%= pageData.current.color %>">
        <p>Michael Thwaites, my grandfather, was a distinguished Australia poet. He won the Kings Gold Medal for poetry, wrote the Bicentennial hymn for the opening of New Parliament House, and other notable achievements.</p>
        <p>The foundation that manages his estate contracted me to provide an appropriate web presence for his work. The project was a deeply personal one for me, giving me the chance to explore the imagery of my grandfather's work in a contemporary style, without losing its link to the life of the author.</p>
    </div>

    <div class="bottom-content credits">
      <h3>Client</h3>
      <p><%= pageData.current.client %></p>
      <h3>My Role</h3>
      <p>Design, Coding, CMS</p>
    </div>
  </section>

  <section class="section--text-left section--slider-desktop section--dark">
      <div class="top-content">
        <h2>Words and Imagery</h2>
      </div>
      <div class="slide slider--desktop" id="slider-poetry" >
        <!-- image and content -->
        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/thwaites/thwaites-nav.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

        <div class="video-slide">
          <video autoplay loop muted playsinline>
            <source src="/images/thwaites/thwaites-poem.mp4">
            <!-- <source src="image.webm" onerror="fallback(parentNode)"> -->
            <!-- <img src="image.gif"> -->
          </video>
        </div>

      </div>
      <div class="bottom-content">
        <div class="slider__captions">
            <div class="caption current"><p>Family albums were raided to create an iconic image for each poem. Some poem pages included and audio recording, indicated by an icon in the navigation.</p></div>
            <div class="caption"><p>Each poem was carefully and clearly typeset so that the visual elements of the site would not interfere with the power of the words.</p></div>
        </div>
      </div>
  </section>


  <section class="section--text-right">
    <div class="top-content">
      <h2>Audio and Media</h2>
      <p>Audio recordings from a live <em>Concert of Poetry and Music</em> were available to be listened to on the site, or downloadable from iTunes as a podcast.</p>
      <p>Press clippings of interviews with the poet could be clicked and viewed.</p>
      <p>The author's publications were also for sale on the website.</p>
    </div>
    <div class="slide">
      <img src="/images/thwaites/thwaites-ipad.jpg" alt="" style="border:0">
    </div>
    <div class="bottom-content"></div>

  </section>

  <section class="section--text-left section--palegrey">
      <div class="top-content">
        <h2>Social Features</h2>
        <p>Social sharing was a key goal of the project.</p>
        <p>Facebook, Twitter and Pinterest APIs were incorporated into the site.</p>
      </div>
      <div class="slide">
        <img src="/images/thwaites/thwaites-share.png" alt="">
      </div>
    <div class="bottom-content"></div>

  </section>


  <section class="process section--split">
    <div class="top-content">
      <img src="/images/thwaites/interface.jpg" alt="">
    </div>
    <div class="bottom-content">
      <h2>Process</h2>
      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#research"></use>
        </svg>I dived deep into family photo albums and archived materials to source the text and imagery for the site.</p>

      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#design"></use>
        </svg>I mocked up each page of the site with Photoshop, using a series of photo manipulation techniques for the accompanying imagery for each poem.</p>

      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#code"></use>
        </svg>I created a Wordpress theme for the site with a custom admin interface, so that family members could update content easily and contribute.</p>
    </div>
  </section>

  <!-- <script src="/js/birds_loop.js"></script> -->


  <% include ../partials/footer.html.ejs %>
