<% include ../partials/header.html.ejs %>


<section class="section--grey section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>Description.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>Role</p>
      <p>Role</p>
    </div>
  </div>

  <section class="section--grey section--image-full">

    <div class="image-full">
      <div class="grid">
        <div class="grid-cell grid12">
          <p>Caption goes here.</p>
        </div>
      </div>
     </div>
  </section>

  <section class="display display--mobile">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 top-content">

        <h2 style="width:100%">Features</h2>

      </div>

      <div class="grid-cell grid4 bottom-content">

        <div class="display__captions">

        </div>

      </div>

      <div class="grid-cell grid8 grid-cell--display">

        <div class="display__screen__wrapper">
          <div class="display__screen">

            <div class="video-slide">
              <video autoplay loop muted playsinline >
                    <source src="/images/songs/songs-demo.mp4">
                      <track kind="chapters" label="Locations" src="/images/songs/songs-chapters.vtt" srclang="en" default type="text/vtt" >
                  </video>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>


  <section class="section--grey section--image-blocks">
    <div class="image-block image-block--left">
        <div class="grid">
          <div class="grid-cell grid12">
            <p>Caption goes here.</p>
          </div>
        </div>
    </div>
    <div class="image-block image-block--right">
          <div class="grid">
            <div class="grid-cell grid12">
              <p>Caption goes here.</p>
            </div>
      </div>
    </div>

  </section>


  <% include ../partials/footer.html.ejs %>
