<% include ../partials/header.html.ejs %>


<section class="section--grey section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>A mobile ad product to drive foot traffic into stores, leveraging the Google Maps API.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>UX Consultation</p>
      <p>HTML / CSS / JS</p>
      <p>Graphic Design</p>
      <h3>Contributors</h3>
      <p>Jonathan Mullins, Developer</p>
    </div>
  </div>

</section>

  <section class="section--grey section--image-full">

    <div class="image-full" style="background-image:url(/images/mobile-store-locator/schematic.jpg)">

     </div>
  </section>

  <section class="section--steps">
    <div class="grid">
      <div class="grid-cell grid4">
        <h4 class="1">Locate</h4>
        <p>Estimate user location with Google Geolocation API.</p>
      </div>
      <div class="grid-cell grid4">
        <h4>Show Stores</h4>
        <p>Present user with nearby purchase locations.</p>
      </div>
      <div class="grid-cell grid4">
        <h4>Refine Experience</h4>
        <p>User can choose to pinpoint their location to get directions.</p>
      </div>
    </div>
  </section>

  <section class="display display--mobile display--video">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 top-content">

        <h4>User-led interaction</h4>
        <p>Knowing that users are reluctant to share their location, the ad format was designed to incrementally engage customers in the experience.</p>

      </div>

      <div class="grid-cell grid4 bottom-content">

        <div class="display__captions">

        </div>

      </div>

      <div class="grid-cell grid8 grid-cell--display">

        <div class="display__screen__wrapper">
          <div class="display__screen">

            <div class="video-slide">
              <video autoplay loop muted playsinline >
                    <source src="/images/mobile-store-locator/store-locator.mp4">
                      <!-- <track kind="chapters" label="Locations" src="/images/songs/songs-chapters.vtt" srclang="en" default type="text/vtt" > -->
                  </video>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>


  <section class="section--grey display--mobile section--image-blocks">
    <div class="image-block image-block--left">
      <div class="grid-cell grid12 grid-cell--display">

      <div class="display__screen__wrapper">
        <div class="display__screen">

          <div class="video-slide">
            <video autoplay loop muted playsinline >
                  <source src="/images/mobile-store-locator/store-locator-stills.mp4">
                </video>
          </div>

        </div>

      </div>


  </div>
    </div>
    <div class="image-block image-block--right" style="background-image: url(/images/mobile-store-locator/mockup.jpg)">

    </div>

  </section>


  <% include ../partials/footer.html.ejs %>
