<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>A responsive website to showcase the sites and sounds, and raise touring funds, for this hit cabaret show.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>UX Consultation</p>
      <p>Graphic Design</p>
      <p>Front-End Developmemt</p>
      <p>Wordpress CMS</p>
    </div>
  </div>

</section>

<section class="display display--chapter display--desktop">

  <div class="grid no-gutter grid--column-grid">

    <div class="grid-cell grid4 top-content">

      <h4 style="width:100%">Features</h4>

    </div>

    <div class="grid-cell grid4 bottom-content">

      <div class="display__captions">

      </div>

    </div>

    <div class="grid-cell grid8 grid-cell--display">

      <div class="display__screen__wrapper">
        <div class="display__screen">

          <div class="video-slide">
            <video autoplay loop muted playsinline >
                  <source src="/images/songs-for-the-fallen/video-songs-edit.mp4">
                    <track kind="chapters" label="Locations" src="/images/songs-for-the-fallen/songs-chapters.vtt" srclang="en" default type="text/vtt" >
                </video>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>

<section class="section--details first">
  <div class="grid">
    <div class="grid-cell grid6 intro-text">
      <img src="/images/songs-for-the-fallen/songs-details1.jpg" alt="">
    </div>
    <div class="grid-cell grid6 credits">
      <img src="/images/songs-for-the-fallen/songs-details2.jpg" alt="">
    </div>
  </div>

</section>

<section class="section--details last">
  <div class="grid">
    <div class="grid-cell grid6 intro-text">
      <img src="/images/songs-for-the-fallen/songs-details3.jpg" alt="">
    </div>
    <div class="grid-cell grid6 credits">
      <img src="/images/songs-for-the-fallen/songs-details4.jpg" alt="">
    </div>
  </div>

</section>

<section class="section--grey section--image-blocks">
  <div class="image-block image-block--left">
      <div class="grid">
        <div class="grid-cell grid12">
          <h4>Branding</h4>
          <p>I developed new visual identity for the show, which was subsequently used across web, print and social media channels.</p>
        </div>
      </div>
  </div>
  <div class="image-block image-block--right" style="background-image: url(/images/songs-for-the-fallen/songs-title.jpg)">

  </div>

</section>

<section class="section--details">

  <div class="grid">
    <div class="grid-cell grid6 intro-text">
      <img src="/images/songs-for-the-fallen/songs-brand1.png" alt="">
    </div>
    <div class="grid-cell grid6 credits">
      <img src="/images/songs-for-the-fallen/songs-brand2.png" alt="">
    </div>
  </div>

</section>

<section class="section--grey section--image-full" id="songs-responsive">
  <div class="caption-block">
    <h4>Responsive Design</h4>
    <p>Each component was designed to display perfectly on all device sizes.</p>
</div>

</section>




  <% include ../partials/footer.html.ejs %>
