<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
    <div class="top-content" style="color: <%= pageData.current.color %>">
        <p>Playground needed a 'store locator' with a simple set-up for clients, including a Google Map that could be populated with locations based on a few simple search terms.</p>

      </div>

    <div class="bottom-content credits">
      <h3>Client</h3>
      <p><%= pageData.current.client %></p>
      <h3>My Role</h3>
      <p>UX Design, Prototyping, Development</p>

      <h3>Contributors</h3>
      <p>Jonathan Mullins, Developer</p>
    </div>
  </section>

  <section class="section--text-left">
      <div class="top-content">
        <h2>Engagement journey</h2>
      </div>
      <div class="slide">
        <img src="/images/store-locator/store-locator-schematic.png" alt="" style="border:0;">
      </div>
      <div class="bottom-content" style="flex-direction: column">
        <p>We knew from our campaign data that customers are reluctant to share their location with advertisers.</p>

        <p>The ad unit would engage users incrementally:</p>
        <ul>
          <li>Estimate user location using Google Geolocation</li>
          <li>Use Search to fetch a list of nearby purchase locations</li>
          <li>The customer could control whether to refine their location, or open directions in the Maps app or web browser.</li>
        </ul>
      </div>
  </section>

  <section class="section--text-right section--slider-mobile phone-royalSlider section--dark">
    <div class="top-content">
      <p>This ease of setup and simple UX made the Store Locator a popular choice for brands.</p>
      <p>The format was used successfully in a number of campaigns.</p>
    </div>
    <div class="slide slider--mobile"  id="slider-store-locator">
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/ads/ads-maccers-sl.mp4">
          </video>
        </div>
        <div class="video-slide">
          <video autoplay loop muted playsinline style="border: 1px solid black;">
            <source src="/images/ads-schweppes.mp4">
          </video>
        </div>
    </div>

    <div class="bottom-content">
        <div class="slider__captions">
          <div class="caption">
            <h4>McDonalds</h4>
            <p>With locations everywhere, McDonalds was an obvious candidate for a Store Locator ad to generate foot traffic into outlets.</p>
          </div>
          <div class="caption">
            <h4>Schweppes</h4>
            <p>Schweppes beverages were available from 7-Elevens and Caltex, so I created the possibility of including multiple 'destination types' in the custom maps.</p>
          </div>
        </div>
    </div>

  </section>

  <section class="process section--split">
    <div class="top-content">
      <img src="/images/process-store-locator.png" alt="">
    </div>
    <div class="bottom-content">
      <h2>Process</h2>
      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#codesign"></use>
        </svg>I designed the visual presentation of the app in parellel with prototyping to discover and stress-test the capabilities of the Google Maps API.</p>
      <p>
        <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
          <use x="0" y="0" xlink:href="#plan"></use>
        </svg>I made a detailed customer-journey map for the application to get sign-off from the product manager.</p>

        <p>
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" xlink:href="#code"></use>
          </svg>The concept for the ad unit was now tried and tested, and was handed over to the development team to integrate with our reporting system and deploy.</p>
        <p>
    </div>
  </section>

<!--

  <section class="grid image-frame">
      <div class="grid-cell grid10">
        <img src="/images/ads/ads-mock1.jpg" alt="">
        <img src="/images/ads/ads-mock2.jpg" alt="">
      </div>

  </section> -->


  <% include ../partials/footer.html.ejs %>
