<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
  <div class="grid">
    <div class="grid-cell grid6 intro-text" style="padding-right: 2rem">
      <h2>A social-oriented microsite leveraging the 100 year anniversary of this iconic brand to re-engage with their customers.</h2>
    </div>
    <div class="grid-cell grid6 credits">
      <h3>My Role</h3>
      <p>Web Development</p>
      <p>Graphic Design</p>
    </div>
    <div class="grid-cell grid3">
      <h3>Contributors</h3>
      <p>Mary Cuy, Graphic Design</p>
    </div>
  </div>

</section>

<section class="display display--chapter display--desktop">

  <div class="grid no-gutter grid--column-grid">

    <div class="grid-cell grid4 top-content">

      <h4>Features</h4>

    </div>

    <div class="grid-cell grid4 bottom-content">

      <div class="display__captions">

      </div>

    </div>

    <div class="grid-cell grid8 grid-cell--display">

      <div class="display__screen__wrapper">
        <div class="display__screen">

          <div class="video-slide">
            <video autoplay loop muted playsinline >
                  <source src="/images/wattyl-100-years/wattyl-desktop.mp4">
                    <track kind="chapters" label="Locations" src="/images/songs-for-the-fallen/songs-chapters.vtt" srclang="en" default type="text/vtt" >
                </video>
          </div>

        </div>

      </div>

    </div>

  </div>

</section>

  <section class="display display--chapter display--mobile">

    <div class="grid no-gutter grid--column-grid">

      <div class="grid-cell grid4 bottom-content">

        <div class="display__captions">

        </div>

      </div>

      <div class="grid-cell grid8 grid-cell--display">

        <div class="display__screen__wrapper">
          <div class="display__screen">

            <div class="video-slide">
              <video autoplay loop muted playsinline >
                    <source src="/images/wattyl-100-years/wattyl-mobile.mp4">
                      <track kind="chapters" label="Locations" src="/images/wattyl-100-years/wattyl-mobile-chapters.vtt" srclang="en" default type="text/vtt" >
                  </video>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>


  <section class="section--grey section--image-blocks">
    <div class="image-block image-block--left" style="background-image: url(/images/wattyl-100-years/wattyl-mock.jpg)">

    </div>
    <div class="image-block image-block--right" style="background-image: url(/images/wattyl-100-years/wattyl-social.jpg)">

    </div>

  </section>


  <% include ../partials/footer.html.ejs %>
