<% include ../partials/header.html.ejs %>

<section class="section--grey section--intro">
    <div class="top-content" style="color: <%= pageData.current.color %>">
        <p>Wattyl required a microsite that leveraged the 100-year anniversary of the company re-engage customers with their brand.</p>
        <p>They wanted to connect with their audience on social media (a first for Wattyl) and leverage their history as an innovative Australian brand.</p>
        <p>Wattyl was also running a promotional competition, so these two messages needed to work together.</p>
    </div>

    <div class="bottom-content credits">
      <h3>Client</h3>
      <p><%= pageData.current.client %></p>
      <h3>My Role</h3>
      <p>Web Development</p>
      <h3>Contributors</h3>
      <p>Mary Cuy, Graphic Design</p>
    </div>
  </section>

  <section class="section--text-left section--slider-desktop">
    <div class="top-content">
      <h2>Historical Timeline</h2>
    </div>
    <div class="slide slider--desktop" id="slider-wattyl1">
      <div class="image-slide">
        <img src="/images/wattyl/wattyl-1.png" alt="">
      </div>
      <div class="image-slide">
        <img src="/images/wattyl/wattyl-2.png" alt="">
      </div>
      <div class="image-slide">
        <img src="/images/wattyl/wattyl-3.png" alt="">
      </div>
    </div>
    <div class="bottom-content">
        <div class="slider__captions">
          <div class="caption current"><p>We used the supplied "Wattyl 100" brandmark as a foundation for the site design, bringing the iconic Australian brand to life with fresh colours and typography.</p></div>
          <div class="caption"><p>Archival photos and video formed the basis for a historical timeline of the brand.</p></div>
          <div class="caption"><p>I used the Facebook and Twitter APIs to make each item in the timeline sharable on social media.</p></div>
        </div>
    </div>
  </section>


  <section class="section--text-right section--slider-mobile  section--dark">
      <div class="top-content">
        <h2>Responsive design</h2>
      </div>
      <div class="slide slider--mobile" id="slider-wattyl2">

        <!-- image and content -->
        <div class="image-slide">
          <img src="/images/wattyl/wattyl-mobile-1.png" alt="">
        </div>
        <!-- image and content -->
        <div class="image-slide">
          <img src="/images/wattyl/wattyl-mobile-2.png" alt="">
        </div>

        <div class="image-slide">
          <img src="/images/wattyl/wattyl-mobile-3.png" alt="">
        </div>

      </div>

    <div class="bottom-content">
        <div class="slider__captions">
          <div class="caption current"><p>The timeline navigation switched to "accordion" style navigation on mobile devices.</p></div>
          <div class="caption"><p>Users entered the competition by submitting their own DIY painting tips.</p></div>
          <div class="caption"><p>I implemented careful form validation to ensure the lead-capture objectives of the campaign. Customer details were captured for use in Wattyl's Marketo system.</p></div>
        </div>
    </div>
  </section>

  <section class="section--text-left section--slider-desktop">
    <div class="top-content">
      <h2 style="width:100%">Final result</h2>
        <p>The Wattyl site looked great on mobile and on desktop.</p>
    </div>

    <div class="slide slider--desktop" style="border:0">
        <div class="video-slide" id="wattyl-video">
          <video autoplay loop muted playsinline>
            <source src="/images/wattyl/wattyl-demo.mp4">
          </video>
        </div>
    </div>
    <div class="bottom-content">

    </div>
  </section>

  <section class="process section--split">

    <div class="top-content">
      <img src="/images/process-wattyl.jpg" alt="">
    </div>
    <div class="bottom-content">
      <h2>Process</h2>
      <p><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <use x="0" y="0" xlink:href="#research"></use>
      </svg>Working with the marketing director at Wattyl, we devised the concept and executed it over two weeks.</p>

      <p><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <use x="0" y="0" xlink:href="#codesign"></use>
      </svg>I reworked Mary’s desktop concepts for responsive navigation. I also set up the information architecture using JSON data as a ‘mini-CMS’ to allow for easy correction of the many text elements.
      </p>
      <p><svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
        <use x="0" y="0" xlink:href="#code"></use>
      </svg>I coded the responsive website with HTML, CSS and JS, leveraging the Twitter, Facebook and Marketo APIs to meet the campaign goals of social sharing and lead capture.</p>

    </div>
  </section>

  <% include ../partials/footer.html.ejs %>
